@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-4P13-pr58vCB: #2563eb;
  --plasmic-token-brand-brand: var(--token-4P13-pr58vCB);
  --token-0Y-FMfzO2dxb: 0.5rem;
  --plasmic-token-size-8: var(--token-0Y-FMfzO2dxb);
  --token-BYkyKeQIzVpx: Inter;
  --plasmic-token-sans-serif: var(--token-BYkyKeQIzVpx);
  --token-9BsTZdv_1sqx: 1rem;
  --plasmic-token-font-md: var(--token-9BsTZdv_1sqx);
  --token-zF_H_UHI-Hk9: 1.25;
  --plasmic-token-line-height-md: var(--token-zF_H_UHI-Hk9);
  --token-K3szN8nlnS86: 0.375rem;
  --plasmic-token-size-6: var(--token-K3szN8nlnS86);
  --token-xnOKRsSIVNwW: #374151;
  --plasmic-token-neutral-neutral: var(--token-xnOKRsSIVNwW);
  --token-KflhkrQSGEZD: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-KflhkrQSGEZD);
  --token-deq4cjAIuPkN: #6b7280;
  --plasmic-token-muted-muted: var(--token-deq4cjAIuPkN);
  --token-91BniZEYbIFM: 0.25rem;
  --plasmic-token-size-4: var(--token-91BniZEYbIFM);
  --token-U3f0914V9wte: 0.75rem;
  --plasmic-token-font-sm: var(--token-U3f0914V9wte);
  --token-0S4tElgGp7fQ: 1;
  --plasmic-token-line-height-sm: var(--token-0S4tElgGp7fQ);
  --token-9n2BSSY7pEg3: 1.25rem;
  --plasmic-token-font-lg: var(--token-9n2BSSY7pEg3);
  --token-6ddAWwxzsudU: 1.4;
  --plasmic-token-line-height-lg: var(--token-6ddAWwxzsudU);
  --token-I6eLFtC70DHg: 0.125rem;
  --plasmic-token-size-2: var(--token-I6eLFtC70DHg);
  --token-04xxQ6Jl8EbD: #16a34a;
  --plasmic-token-success-success: var(--token-04xxQ6Jl8EbD);
  --token-OHbK4k-o2rQ2: #facc15;
  --plasmic-token-warning-warning: var(--token-OHbK4k-o2rQ2);
  --token-_8QDSZx7Md_a: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-_8QDSZx7Md_a);
  --token-bfKKRrYd7myg: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-bfKKRrYd7myg);
  --token-xz_wimWXBsA1: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-xz_wimWXBsA1);
  --token-h4hwnzHxHTbz: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-h4hwnzHxHTbz);
  --token-XWsnuiFilDbx: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-XWsnuiFilDbx);
  --token-Bij9awJ2fF-_: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-Bij9awJ2fF-_);
  --token-w3My0MzPSCWn: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-w3My0MzPSCWn);
  --token-brOiJPlC7Xs1: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-brOiJPlC7Xs1);
  --token-iDrd_os82rxQ: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-iDrd_os82rxQ);
  --token-7vCmEjZ6aLXA: #86efac;
  --plasmic-token-success-success-border: var(--token-7vCmEjZ6aLXA);
  --token-ol2-cSq5p0jd: #fde047;
  --plasmic-token-warning-warning-border: var(--token-ol2-cSq5p0jd);
  --token-WxSX9rTUvlH5: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-WxSX9rTUvlH5);
  --token-FlXihgL903_X: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-FlXihgL903_X);
  --token-iw0954fkT3oF: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-iw0954fkT3oF);
  --token-nqaT4KmhIuFC: #00000033;
  --plasmic-token-interaction-pressed: var(--token-nqaT4KmhIuFC);
  --token-MdZh9-VffWq8: 0.625rem;
  --plasmic-token-size-10: var(--token-MdZh9-VffWq8);
  --token-4cJBwp6mUahe: 0.75rem;
  --plasmic-token-size-12: var(--token-4cJBwp6mUahe);
  --token-KCFdAxIYKRKb: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-KCFdAxIYKRKb);
  --token-0ChysrXnKwnY: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-0ChysrXnKwnY);
  --token-9Uv_3kLjXzu2: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-9Uv_3kLjXzu2);
  --token-lTEYxVIhvSH9: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-lTEYxVIhvSH9);
  --token-J_AS4x3aZMx0: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-J_AS4x3aZMx0);
  --token-nqijqyOgHU10: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-nqijqyOgHU10);
  --token-ut8aZ0N5jiQA: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-ut8aZ0N5jiQA);
  --token-gIfFO3CtdqMy: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-gIfFO3CtdqMy);
  --token-KV1fvmHinSOv: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-KV1fvmHinSOv);
  --token-F0TvL8QsRPFM: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-F0TvL8QsRPFM);
  --token-VcSXsJE5t-au: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-VcSXsJE5t-au);
  --token-mRYqyb6SmeE8: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-mRYqyb6SmeE8
  );
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-upfFQDDbigA4_font-family: "Inter", sans-serif;
  --mixin-upfFQDDbigA4_font-size: 16px;
  --mixin-upfFQDDbigA4_font-weight: 400;
  --mixin-upfFQDDbigA4_font-style: normal;
  --mixin-upfFQDDbigA4_color: #535353;
  --mixin-upfFQDDbigA4_text-align: left;
  --mixin-upfFQDDbigA4_text-transform: none;
  --mixin-upfFQDDbigA4_line-height: 1.5;
  --mixin-upfFQDDbigA4_letter-spacing: normal;
  --mixin-upfFQDDbigA4_white-space: pre-wrap;
  --mixin-upfFQDDbigA4_user-select: text;
  --mixin-upfFQDDbigA4_text-decoration-line: none;
  --mixin-upfFQDDbigA4_text-overflow: clip;
  --mixin-XTtUwWdqHtbx_color: #000000;
  --mixin-XTtUwWdqHtbx_font-weight: 700;
  --mixin-XTtUwWdqHtbx_font-size: 64px;
  --mixin-XTtUwWdqHtbx_line-height: 1;
  --mixin-XTtUwWdqHtbx_letter-spacing: -1px;
  --mixin-XTtUwWdqHtbx_white-space: pre-wrap;
  --mixin-QhHqT-bJ7Jc4_color: #000000;
  --mixin-QhHqT-bJ7Jc4_font-size: 48px;
  --mixin-QhHqT-bJ7Jc4_font-weight: 700;
  --mixin-QhHqT-bJ7Jc4_letter-spacing: -0.5px;
  --mixin-QhHqT-bJ7Jc4_line-height: 1.1;
  --mixin-QhHqT-bJ7Jc4_white-space: pre-wrap;
  --mixin-8OO8cpjH33hC_color: #0070f3;
  --mixin-8OO8cpjH33hC_white-space: pre-wrap;
  --mixin-WZDSIMJRiA3V_color: #000000;
  --mixin-WZDSIMJRiA3V_font-size: 32px;
  --mixin-WZDSIMJRiA3V_font-weight: 600;
  --mixin-WZDSIMJRiA3V_line-height: 1.2;
  --mixin-WZDSIMJRiA3V_white-space: pre-wrap;
  --mixin-JgYbyRzu1VUB_color: #000000;
  --mixin-JgYbyRzu1VUB_font-size: 24px;
  --mixin-JgYbyRzu1VUB_font-weight: 600;
  --mixin-JgYbyRzu1VUB_line-height: 1.3;
  --mixin-JgYbyRzu1VUB_white-space: pre-wrap;
  --mixin-KAvT4-_6no_v_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-KAvT4-_6no_v_border-bottom-color: #dddddd;
  --mixin-KAvT4-_6no_v_border-bottom-style: solid;
  --mixin-KAvT4-_6no_v_border-bottom-width: 1px;
  --mixin-KAvT4-_6no_v_border-left-color: #dddddd;
  --mixin-KAvT4-_6no_v_border-left-style: solid;
  --mixin-KAvT4-_6no_v_border-left-width: 1px;
  --mixin-KAvT4-_6no_v_border-right-color: #dddddd;
  --mixin-KAvT4-_6no_v_border-right-style: solid;
  --mixin-KAvT4-_6no_v_border-right-width: 1px;
  --mixin-KAvT4-_6no_v_border-top-color: #dddddd;
  --mixin-KAvT4-_6no_v_border-top-style: solid;
  --mixin-KAvT4-_6no_v_border-top-width: 1px;
  --mixin-KAvT4-_6no_v_border-bottom-left-radius: 3px;
  --mixin-KAvT4-_6no_v_border-bottom-right-radius: 3px;
  --mixin-KAvT4-_6no_v_border-top-left-radius: 3px;
  --mixin-KAvT4-_6no_v_border-top-right-radius: 3px;
  --mixin-KAvT4-_6no_v_font-family: "Inconsolata";
  --mixin-KAvT4-_6no_v_padding-bottom: 1px;
  --mixin-KAvT4-_6no_v_padding-left: 4px;
  --mixin-KAvT4-_6no_v_padding-right: 4px;
  --mixin-KAvT4-_6no_v_padding-top: 1px;
  --mixin-KAvT4-_6no_v_white-space: pre-wrap;
  --mixin-fg34awtMuP_d_border-left-color: #dddddd;
  --mixin-fg34awtMuP_d_border-left-style: solid;
  --mixin-fg34awtMuP_d_border-left-width: 3px;
  --mixin-fg34awtMuP_d_color: #888888;
  --mixin-fg34awtMuP_d_padding-left: 10px;
  --mixin-fg34awtMuP_d_white-space: pre-wrap;
  --mixin-0q32HlMCyT8j_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-0q32HlMCyT8j_border-bottom-color: #dddddd;
  --mixin-0q32HlMCyT8j_border-bottom-style: solid;
  --mixin-0q32HlMCyT8j_border-bottom-width: 1px;
  --mixin-0q32HlMCyT8j_border-left-color: #dddddd;
  --mixin-0q32HlMCyT8j_border-left-style: solid;
  --mixin-0q32HlMCyT8j_border-left-width: 1px;
  --mixin-0q32HlMCyT8j_border-right-color: #dddddd;
  --mixin-0q32HlMCyT8j_border-right-style: solid;
  --mixin-0q32HlMCyT8j_border-right-width: 1px;
  --mixin-0q32HlMCyT8j_border-top-color: #dddddd;
  --mixin-0q32HlMCyT8j_border-top-style: solid;
  --mixin-0q32HlMCyT8j_border-top-width: 1px;
  --mixin-0q32HlMCyT8j_border-bottom-left-radius: 3px;
  --mixin-0q32HlMCyT8j_border-bottom-right-radius: 3px;
  --mixin-0q32HlMCyT8j_border-top-left-radius: 3px;
  --mixin-0q32HlMCyT8j_border-top-right-radius: 3px;
  --mixin-0q32HlMCyT8j_font-family: "Inconsolata";
  --mixin-0q32HlMCyT8j_padding-bottom: 3px;
  --mixin-0q32HlMCyT8j_padding-left: 6px;
  --mixin-0q32HlMCyT8j_padding-right: 6px;
  --mixin-0q32HlMCyT8j_padding-top: 3px;
  --mixin-0q32HlMCyT8j_white-space: pre-wrap;
  --mixin-5I1Qd1rIf14i_display: flex;
  --mixin-5I1Qd1rIf14i_flex-direction: column;
  --mixin-5I1Qd1rIf14i_align-items: stretch;
  --mixin-5I1Qd1rIf14i_justify-content: flex-start;
  --mixin-5I1Qd1rIf14i_list-style-position: outside;
  --mixin-5I1Qd1rIf14i_padding-left: 40px;
  --mixin-5I1Qd1rIf14i_position: relative;
  --mixin-5I1Qd1rIf14i_list-style-type: disc;
  --mixin-5I1Qd1rIf14i_white-space: pre-wrap;
  --mixin-lAgy6B0gERNF_display: flex;
  --mixin-lAgy6B0gERNF_flex-direction: column;
  --mixin-lAgy6B0gERNF_align-items: stretch;
  --mixin-lAgy6B0gERNF_justify-content: flex-start;
  --mixin-lAgy6B0gERNF_list-style-position: outside;
  --mixin-lAgy6B0gERNF_padding-left: 40px;
  --mixin-lAgy6B0gERNF_position: relative;
  --mixin-lAgy6B0gERNF_list-style-type: decimal;
  --mixin-lAgy6B0gERNF_white-space: pre-wrap;
  --mixin-aQUvG3eC3hNC_color: #000000;
  --mixin-aQUvG3eC3hNC_font-size: 20px;
  --mixin-aQUvG3eC3hNC_font-weight: 600;
  --mixin-aQUvG3eC3hNC_line-height: 1.5;
  --mixin-aQUvG3eC3hNC_white-space: pre-wrap;
  --mixin-lRDMO2aZ5LxB_color: #000000;
  --mixin-lRDMO2aZ5LxB_font-size: 16px;
  --mixin-lRDMO2aZ5LxB_font-weight: 600;
  --mixin-lRDMO2aZ5LxB_line-height: 1.5;
  --mixin-lRDMO2aZ5LxB_white-space: pre-wrap;
  --mixin-ZVGyzfSRaQ1l_color: #3291ff;
  --mixin-ZVGyzfSRaQ1l_white-space: pre-wrap;
  --mixin-i6QW_dM-cuXF_white-space: pre-wrap;
  --mixin-Qo6sAJCFBYaO_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-upfFQDDbigA4_font-family);
  font-size: var(--mixin-upfFQDDbigA4_font-size);
  font-weight: var(--mixin-upfFQDDbigA4_font-weight);
  font-style: var(--mixin-upfFQDDbigA4_font-style);
  color: var(--mixin-upfFQDDbigA4_color);
  text-align: var(--mixin-upfFQDDbigA4_text-align);
  text-transform: var(--mixin-upfFQDDbigA4_text-transform);
  line-height: var(--mixin-upfFQDDbigA4_line-height);
  letter-spacing: var(--mixin-upfFQDDbigA4_letter-spacing);
  white-space: var(--mixin-upfFQDDbigA4_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-XTtUwWdqHtbx_color);
  font-weight: var(--mixin-XTtUwWdqHtbx_font-weight);
  font-size: var(--mixin-XTtUwWdqHtbx_font-size);
  line-height: var(--mixin-XTtUwWdqHtbx_line-height);
  letter-spacing: var(--mixin-XTtUwWdqHtbx_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-QhHqT-bJ7Jc4_color);
  font-size: var(--mixin-QhHqT-bJ7Jc4_font-size);
  font-weight: var(--mixin-QhHqT-bJ7Jc4_font-weight);
  letter-spacing: var(--mixin-QhHqT-bJ7Jc4_letter-spacing);
  line-height: var(--mixin-QhHqT-bJ7Jc4_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-8OO8cpjH33hC_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-WZDSIMJRiA3V_color);
  font-size: var(--mixin-WZDSIMJRiA3V_font-size);
  font-weight: var(--mixin-WZDSIMJRiA3V_font-weight);
  line-height: var(--mixin-WZDSIMJRiA3V_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-JgYbyRzu1VUB_color);
  font-size: var(--mixin-JgYbyRzu1VUB_font-size);
  font-weight: var(--mixin-JgYbyRzu1VUB_font-weight);
  line-height: var(--mixin-JgYbyRzu1VUB_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-KAvT4-_6no_v_font-family);
  border-radius: var(--mixin-KAvT4-_6no_v_border-top-left-radius)
    var(--mixin-KAvT4-_6no_v_border-top-right-radius)
    var(--mixin-KAvT4-_6no_v_border-bottom-right-radius)
    var(--mixin-KAvT4-_6no_v_border-bottom-left-radius);
  padding: var(--mixin-KAvT4-_6no_v_padding-top)
    var(--mixin-KAvT4-_6no_v_padding-right)
    var(--mixin-KAvT4-_6no_v_padding-bottom)
    var(--mixin-KAvT4-_6no_v_padding-left);
  border-top: var(--mixin-KAvT4-_6no_v_border-top-width)
    var(--mixin-KAvT4-_6no_v_border-top-style)
    var(--mixin-KAvT4-_6no_v_border-top-color);
  border-right: var(--mixin-KAvT4-_6no_v_border-right-width)
    var(--mixin-KAvT4-_6no_v_border-right-style)
    var(--mixin-KAvT4-_6no_v_border-right-color);
  border-bottom: var(--mixin-KAvT4-_6no_v_border-bottom-width)
    var(--mixin-KAvT4-_6no_v_border-bottom-style)
    var(--mixin-KAvT4-_6no_v_border-bottom-color);
  border-left: var(--mixin-KAvT4-_6no_v_border-left-width)
    var(--mixin-KAvT4-_6no_v_border-left-style)
    var(--mixin-KAvT4-_6no_v_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-fg34awtMuP_d_color);
  padding-left: var(--mixin-fg34awtMuP_d_padding-left);
  border-left: var(--mixin-fg34awtMuP_d_border-left-width)
    var(--mixin-fg34awtMuP_d_border-left-style)
    var(--mixin-fg34awtMuP_d_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-0q32HlMCyT8j_font-family);
  border-radius: var(--mixin-0q32HlMCyT8j_border-top-left-radius)
    var(--mixin-0q32HlMCyT8j_border-top-right-radius)
    var(--mixin-0q32HlMCyT8j_border-bottom-right-radius)
    var(--mixin-0q32HlMCyT8j_border-bottom-left-radius);
  padding: var(--mixin-0q32HlMCyT8j_padding-top)
    var(--mixin-0q32HlMCyT8j_padding-right)
    var(--mixin-0q32HlMCyT8j_padding-bottom)
    var(--mixin-0q32HlMCyT8j_padding-left);
  border-top: var(--mixin-0q32HlMCyT8j_border-top-width)
    var(--mixin-0q32HlMCyT8j_border-top-style)
    var(--mixin-0q32HlMCyT8j_border-top-color);
  border-right: var(--mixin-0q32HlMCyT8j_border-right-width)
    var(--mixin-0q32HlMCyT8j_border-right-style)
    var(--mixin-0q32HlMCyT8j_border-right-color);
  border-bottom: var(--mixin-0q32HlMCyT8j_border-bottom-width)
    var(--mixin-0q32HlMCyT8j_border-bottom-style)
    var(--mixin-0q32HlMCyT8j_border-bottom-color);
  border-left: var(--mixin-0q32HlMCyT8j_border-left-width)
    var(--mixin-0q32HlMCyT8j_border-left-style)
    var(--mixin-0q32HlMCyT8j_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-5I1Qd1rIf14i_display);
  flex-direction: var(--mixin-5I1Qd1rIf14i_flex-direction);
  align-items: var(--mixin-5I1Qd1rIf14i_align-items);
  justify-content: var(--mixin-5I1Qd1rIf14i_justify-content);
  list-style-position: var(--mixin-5I1Qd1rIf14i_list-style-position);
  padding-left: var(--mixin-5I1Qd1rIf14i_padding-left);
  position: var(--mixin-5I1Qd1rIf14i_position);
  list-style-type: var(--mixin-5I1Qd1rIf14i_list-style-type);
  flex-column-gap: var(--mixin-5I1Qd1rIf14i_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-lAgy6B0gERNF_display);
  flex-direction: var(--mixin-lAgy6B0gERNF_flex-direction);
  align-items: var(--mixin-lAgy6B0gERNF_align-items);
  justify-content: var(--mixin-lAgy6B0gERNF_justify-content);
  list-style-position: var(--mixin-lAgy6B0gERNF_list-style-position);
  padding-left: var(--mixin-lAgy6B0gERNF_padding-left);
  position: var(--mixin-lAgy6B0gERNF_position);
  list-style-type: var(--mixin-lAgy6B0gERNF_list-style-type);
  flex-column-gap: var(--mixin-lAgy6B0gERNF_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-aQUvG3eC3hNC_color);
  font-size: var(--mixin-aQUvG3eC3hNC_font-size);
  font-weight: var(--mixin-aQUvG3eC3hNC_font-weight);
  line-height: var(--mixin-aQUvG3eC3hNC_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-lRDMO2aZ5LxB_color);
  font-size: var(--mixin-lRDMO2aZ5LxB_font-size);
  font-weight: var(--mixin-lRDMO2aZ5LxB_font-weight);
  line-height: var(--mixin-lRDMO2aZ5LxB_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-ZVGyzfSRaQ1l_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
